article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,menu,pre,form,figure,fieldset,legend,button,img,input,textarea,th,td{margin:0;padding:0;border:0;}
a{text-decoration: none;color: #333;}
body{font: 14px/20px "Segoe UI","Microsoft YaHei",sans-serif;color: #444;}
::selection{background: #222;color: #fff;}
::-webkit-scrollbar{width: .4rem;height: .4rem;}
::-webkit-scrollbar-button{display: none;}
::-webkit-scrollbar-thumb{ background: #aaa; border-radius: 3px;}
::-webkit-scrollbar-corner{display: none;}
li{list-style: none;}
.clearfix:after{ content:" "; display:block; height:0; clear:both; visibility: hidden;}
.iconfont{ font-size: 1.1rem; }

.transless{ transition: none !important; }

.container{
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    overflow: hidden;
}


/* 对话框 */
.dialog{
    position: absolute; z-index: 500;
    left: 30%; top: 30%;
    max-width: 94%; max-height: 94%; min-width: 120px;
    background: rgba(255,255,255,.94);
    border-radius: 3px;
    box-shadow: 0 2px 12px rgba(0,0,0,.13);
    overflow: auto;
}
.dialog header{
    position: sticky;
    top: 0;
    padding: 10px;
    cursor: default;
    user-select: none;
}
.dialog .icon-close{
    float: right;
    vertical-align: middle;
}
.dialog .inner{
    padding: 10px;
}

/* 消息框 */
.messages{
    position: absolute; z-index: 600;
    top: 42px; right: 10px;
}
.message{
    float: right;
    padding: 10px; margin: 0 0 20px;
    background: rgba(255,255,255,.94);
    border-radius: 3px;
    box-shadow: 0 2px 12px rgba(0,0,0,.13);
}
