article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,menu,pre,form,figure,fieldset,legend,button,img,input,textarea,th,td{margin:0;padding:0;border:0;}
a{text-decoration: none;color: #333;}
body{font: 14px/20px "Segoe UI","Microsoft YaHei",sans-serif;color: #444;}
::selection{background: #222;color: #fff;}
::-webkit-scrollbar{width: .4rem;height: .4rem;}
::-webkit-scrollbar-button{display: none;}
::-webkit-scrollbar-thumb{ background: #aaa; border-radius: 3px;}
::-webkit-scrollbar-corner{display: none;}
li{list-style: none;}
.clearfix:after{ content:" "; display:block; height:0; clear:both; visibility: hidden;}
.transless{ transition: none !important; }

.container, .mask{
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    display: flex;
    overflow: hidden;
}
.btn{
    display: inline-block;
    padding: 4px 6px;
    border-radius: 4px;
    box-shadow: 0 2px 12px rgba(0,0,0,.13);
    background: rgba(255,255,255,.9);
}

/* 侧边栏 */
.sider{
    position: relative; z-index: 10;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 250px; max-width: 50%; max-height: 100%;
    padding-bottom: 10px;
}
.sider header{
    padding: 10px 10px 5px;
    -webkit-app-region: drag;
}
.sider header > a{
    margin: 0 5px;
    -webkit-app-region: no-drag;
}
.menu{
    flex-grow: 1;
    padding: 0 10px 20px; margin: 0 10px;
    background: rgba(255,255,255,.9);
    border-radius: 10px;
    overflow: auto;
    cursor: default; user-select: none;
}
.menu .tools{
    position: sticky; top: 0; z-index: 1;
    padding: 10px 5px; margin-bottom: 10px;
    display: flex; justify-content: space-around;
    background: inherit;
}
.menu .iconfont[data-check]{ display: none; }
[data-check="true"]{ color: #409cff; }
.checking .iconfont[data-check]{ display: inline-block; }
.menu .item{
    padding: 3px 5px;
    border-radius: 2px;
    white-space: nowrap;
}
.menu .item.selected{ background-color: #eee; }
.menu .iconfont{ font-size: 17px; vertical-align: middle; display: inline-block; }
.menu span{ vertical-align: middle; }
.menu li ul{
    height: 0; padding: 0;
    overflow: hidden;
    transition: all .2s ease;
}
li.expand > ul:not(:empty){
    height: auto;
    padding: 0 0 5px 20px;
}
.icon-tri{ transition: transform .2s ease; }
.expand .icon-tri{ transform: rotate(90deg); }
.menu footer{
    position: absolute; z-index: 1;
    left: 50%; bottom: 20px;
    transform: translateX(-50%) scale(0);
    transition: transform .1s ease;
}
.menu footer a{ margin: 2px; }
.menu footer a:active{ background-color: #eee; }
.checking footer{ transform: translateX(-50%) scale(1); }
.menucontext{
    position: absolute; z-index: 100;
    box-sizing: border-box;
    width: 0; padding: 10px 0; margin: -20px 0 0 5px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 12px rgba(0,0,0,.13);
    overflow: hidden;
    transition: all .15s ease;
    white-space: nowrap;
}
.menucontext::before{
    content: '\20'; display: block;
    position: absolute; top: 50%; left: 0;
    margin-top: -5px;
    border: 5px solid transparent;
    border-left-color: rgba(0,0,0,.13);
}
.menucontext.on{ width: auto; padding: 10px; }
.menucontext li{
    display: inline-block;
    margin: 0 4px;
}
.menucontext li:hover{ color: #000; background: #eee; }

/* 内容区 */
.content{ position: relative; flex: 1; }
.header{
    position: absolute; z-index: 10;
    left: 0; right: 0; top: 0;
    display: flex; flex-wrap: nowrap;
    height: 32px; line-height: 32px;
    -webkit-app-region: drag;
    user-select: none;
}
.header a{ cursor: default; }
.header .iconfont{ display: inline-block; transition: transform .1s ease; }
.tabs{
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    border-radius: 0 0 4px 4px;
    background: inherit;
}
.tabs a{
    flex: 1;
    position: relative;
    max-width: 150px;
    padding: 0 10px;
    background: #fff;
    border-right: 1px solid #f3f3f3;
    white-space: nowrap; overflow: hidden; text-align: center; text-overflow: ellipsis;
    -webkit-app-region: no-drag;
}
.tabs a:last-child{
    border-bottom-right-radius: 4px;
}
.tabs i{
    display: inline-block;
    position: absolute;
    right: 4px; top: 7px;
    padding: 1px 2px;
    border-radius: 3px;
    background: inherit;
    font-size: 1em; font-weight: 600; line-height: 1rem;
    transform: scale(0);
}
.tabs a:hover i{ transform: scale(1); }
.tabs i:hover{ background: #409cff; color: #fff; }
.tabs .active{
    flex: 1 0 auto;
    background: #d2d2d2;
    flex-shrink: 0;
    z-index: 1;
}
.app-controls{
    padding: 0 10px;
    -webkit-app-region: no-drag;
    overflow: hidden;
}
.app-controls a{ padding: 0 2px; }

.windows{
    position: absolute;
    top: 32px; left: 0; right: 0; bottom: 0;
    display: flex;
}
.iframe{
    flex: 1;
    height: 100%;
    border: none;
    box-sizing: border-box;
}

/* 对话框 */
.mask{
    background: rgba(0,0,0,.5);
    z-index: 500;
    overflow: auto;
    flex-direction: column;
    justify-content: center;
    display: none;
}
.dialog{
    min-width: 50px; min-height: 50px;
    margin: 50px auto; padding: 10px;
    background: #fff;
    border-radius: 4px;
    overflow: auto;
}
