.container{
    display: flex;
    background-color: #f3f3f3;
}
.btn{
    display: inline-block;
    padding: 4px 6px;
    border-radius: 4px;
    box-shadow: 0 2px 12px rgba(0,0,0,.13);
    background: rgba(255,255,255,.9);
}

/* 侧边栏 */
.sider{
    position: relative; z-index: 10;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 250px; max-width: 50%; max-height: 100%;
    padding-bottom: 10px;
}
.sider.hidden{ display: none; }
.sider header{
    padding: 10px 10px 5px;
    -webkit-app-region: drag;
}
.sider header > a{
    margin: 0 5px;
    -webkit-app-region: no-drag;
}
.menu{
    flex-grow: 1;
    padding: 0 10px 20px; margin: 0 10px;
    background: rgba(255,255,255,.9);
    box-shadow: 0 2px 12px rgba(0,0,0,.13);
    border-radius: 10px;
    overflow: auto;
    cursor: default; user-select: none;
}
.menu > ul{ background: inherit; }
.menu ul.hidden{ display: none; }
.menu .tools{
    position: sticky; top: 0; z-index: 1;
    padding: 0 5px;
    height: 42px; line-height: 42px;
    display: flex; justify-content: space-around;
    background: inherit;
}
.menu .iconfont[data-check]{ display: none; }
[data-check="true"]{ color: #409cff; }
.checking .iconfont[data-check]{ display: inline-block; }
.menu .item{
    padding: 3px 5px;
    border-radius: 2px;
    white-space: nowrap;
}
.menu .item.selected{ background: rgba(233,233,233,.9); }
.menu .iconfont{ vertical-align: middle; display: inline-block; }
.menu span{ vertical-align: middle; }
.menu li ul{
    height: 0; padding: 0;
    overflow: hidden;
    transition: all .2s ease;
}
li.expand > ul:not(:empty){
    height: auto;
    padding: 0 0 5px 20px;
}
.icon-tri{ transition: transform .2s ease; }
.expand .icon-tri{ transform: rotate(90deg); }
.menu h4{
    position: sticky;
    top: 42px;
    padding-bottom: 10px;
    background: inherit;
}
.menu h4 .iconfont{ margin: 3px 10px 0 0; font-size: 16px; font-weight: normal; }
.menu footer{
    position: absolute; z-index: 1;
    left: 50%; bottom: 20px;
    transform: translateX(-50%) scale(0);
    transition: transform .1s ease;
}
.menu footer a{ margin: 2px; }
.menu footer a:active{ filter: brightness(.94); }
.checking footer{ transform: translateX(-50%) scale(1); }
.menucontext{
    position: absolute; z-index: 100;
    box-sizing: border-box;
    width: 0; padding: 10px 0; margin: -20px 0 0 5px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 12px rgba(0,0,0,.13);
    overflow: hidden;
    transition: all .15s ease;
    white-space: nowrap;
}
.menucontext::before{
    content: '\20'; display: block;
    position: absolute; top: 50%; left: 0;
    margin-top: -5px;
    border: 5px solid transparent;
    border-left-color: rgba(0,0,0,.13);
}
.menucontext.on{ width: auto; padding: 10px; }
.menucontext li{
    display: inline-block;
    margin: 0 4px;
    border-radius: 3px;
    background: inherit;
}
.menucontext li:hover{ color: #000; filter: brightness(.94); }
.menufolder li:first-child{ display: none; }

/* 内容区 */
.content{ position: relative; flex: 1; }
.header{
    position: absolute; z-index: 10;
    left: 0; right: 0; top: 0;
    display: flex; flex-wrap: nowrap;
    height: 32px; line-height: 32px;
    -webkit-app-region: drag;
    user-select: none;
}
.header a{ cursor: default; }
.header .iconfont{ display: inline-block; transition: transform .1s ease; }
.tabs{
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    background: inherit;
}
.tabs a{
    flex: 1;
    position: relative;
    max-width: 150px;
    padding: 0 10px;
    background: rgba(255,255,255,.9);
    border-right: 1px solid transparent;
    white-space: nowrap; overflow: hidden; text-align: center; text-overflow: ellipsis;
    -webkit-app-region: no-drag;
}
.tabs i{
    display: inline-block;
    position: absolute;
    right: 4px; top: 7px;
    padding: 1px 2px;
    border-radius: 3px;
    background: inherit;
    font-size: 1em; font-weight: 600; line-height: 1rem;
    transform: scale(0);
}
.tabs a:hover i{ transform: scale(1); }
.tabs i:hover{ background: #409cff; color: #fff; }
.tabs .active{
    flex: 1 0 auto;
    background: #3d3d3d; color: #fff; border-color: #3d3d3d;
    flex-shrink: 0;
    z-index: 1;
}
.app-controls{
    padding: 0 10px;
    -webkit-app-region: no-drag;
    overflow: hidden;
}
.app-controls a{ padding: 0 2px; }

.windows{
    position: absolute;
    top: 32px; left: 0; right: 0; bottom: 0;
    display: flex;
    user-select: none;
}
.controls{
    position: absolute;
    left: 0; bottom: 0;
    padding: 10px;
}
.controls li{
    margin: 6px 0; padding: 3px 5px 3px 6px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 2px 12px rgba(0,0,0,.13);
    transition: transform .1s ease;
}
.controls:hover li{ transform: scale(1); }
.controls li:active{ filter: brightness(.94); }
.window{
    flex: 1;
    height: 100%;
    border: none;
    box-sizing: border-box;
    display: none;
}
.window.on{ display: block; }


/* 纯净模式 */
.clear .header,
.clear .controls{
    transition: opacity .2s ease 1s;
    opacity: 0;
}
.clear .header:hover,
.clear .controls:hover{ opacity: 1; transition: opacity .05s ease; }
