article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,menu,pre,form,figure,fieldset,legend,button,img,input,textarea,th,td{margin:0;padding:0;border:0;}
a{text-decoration: none;color: #333;}
body{font: 13px/24px "Segoe UI","Microsoft YaHei",sans-serif;color: #444;}
::selection{background: #222;color: #fff;}
::-webkit-scrollbar{width: .4rem;height: .4rem;}
::-webkit-scrollbar-button{display: none;}
::-webkit-scrollbar-thumb{ background: #aaa; }
::-webkit-scrollbar-corner{display: none;}
li{list-style: none;}
.clearfix:after{ content:" "; display:block; height:0; clear:both; visibility: hidden;}
.clearfix{*zoom:1;}/*IE/7/6*/

.btn{
    display: inline-block; vertical-align: middle;
    padding: 4px 6px;
    transition: transform .1s ease;
}

.container{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    overflow: hidden;
}
.app-control{
    float: right;
    -webkit-app-region: no-drag;
}
.aside{
    display: flex; flex-direction: column; justify-content: space-between;
    padding: 20px 0;
    background: #444; color: #ccc; box-shadow: inset -2px 0 2px #333;
    background-image: linear-gradient(90deg, #333 0%, #444 100%);
    -webkit-app-region: drag;
}
.navs{ -webkit-app-region: no-drag; }
.navs > i{
    display: block;
    margin: 4px 0;
    font-size: 1.1rem;
    transition: all .15s ease;
}
.navs > i:hover{ color: #fff; }
.navs > i:active, .btn:active{ transform: scale(.94); }
.window{
    display: none; flex: 1;
}
.window.on{ display: flex; }
.menus{
    overflow: hidden;
    transition: all .3s ease;
    background: #ddd;
    position: relative;
}
.menu{
    box-sizing: border-box;
    width: 0; height: 100%;
    overflow: hidden;
    background: inherit;
    transition: all .1s ease;
}
.list{
    position: absolute;
    left: 0; right: 0; bottom: 0; top: 0;
    background: inherit;
    transition: transform .2s ease;
}
.list.out{ transform: translateX(-100%); }
.menu.on{ width: 250px; overflow: auto; }
.menu h3, .list h3{
    position: sticky; top: 0;
    padding: 4px 10px;
    background: inherit;
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
.list h3{ text-align: right; }
.list h3 i{ float: left; padding: 0; }
.list li{
    margin-bottom: -1px; padding: .6rem;
    text-align: justify; cursor: default;
    border-top: 1px solid #aaa; border-bottom: 1px solid #aaa;
    line-height: 1.45;
    transition: all .1s ease;
}
.list p{
    -webkit-line-clamp: 2; -webkit-box-orient: vertical;
    display: -webkit-box; overflow: hidden; text-overflow: ellipsis;
}
.list li.selected{ background: rgb(0,116,224); color: #efefef; }
.menu .item{
    cursor: default;
    user-select: none;
}
.item > ul:empty:after{
    display: block; text-align: center;
    content: "it's empty"; color: #aaa;
    font-family: 'Segoe Print';
}
.folder:hover, .item ul li:hover{ background: #ccc; }
.item ul li:active{ background: #bcbcbc; }
.folder{
    padding: .1rem .45rem;
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
.folder > i{
    display: inline-block; margin-right: .1rem;
    transition: transform .05s ease;
}
.item li{
    padding: 0 1rem;
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
.item li i{ margin-right: .4rem; vertical-align: middle; }
.item > ul{
    height: 0; margin: 0;
    overflow: hidden; border-bottom: 1px solid transparent;
    transition: all .25s ease;
}
.expand ul{
    height: auto; margin: 0 0 .4rem; padding: .4rem 0;
    border-color: #aaa;
}
.expand .folder > i{ transform: rotate(90deg); }
.icon-unchecked, .icon-checked{ display: none; }
.checking{ display: inline; color: #0389ff; }

.main{
    position: relative;
    flex: 1;
}
.editor{
    box-sizing: border-box;
    max-width: 666px;
}
